@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-base;
  }
  body {
    @apply font-body;
  }
  .lead-paragraph {
    font-size: 1.375rem;
  }
  .body-l {
    font-size: 1.25rem;
  }
  .body-m {
    font-size: 1.125rem;
  }
  .body-text {
    font-size: 1rem;
  }
  .body-small {
    font-size: 0.875rem;
  }
  .label-xl {
    font-size: 18px;
  }
  .label-l {
    font-size: 16px;
  }
  .label-text {
    font-size: 14px;
  }
  .label-s {
    font-size: 12px;
  }
  .label-xs {
    font-size: 10px;
  }
  body {
    background-color: theme("colors.light.200");
    color: theme("colors.dark.300");
  }
}
@layer components {
  .btn-sm {
    padding: 12px 24px;
    font-size: 14px;
    border-width: var(--border-btn, 1px);
    border-radius: 6px;
  }
  .btn-m {
    padding: 14px 32px;
    font-size: 16px;
    border-width: var(--border-btn, 1px);
    border-radius: 6px;
  }
  .btn-l {
    padding: 16px 48px;
    font-size: 18px;
    border-width: var(--border-btn, 1px);
    border-radius: 6px;
  }

  .btn-default {
    @apply border-brand-blue
      hover:ring-4 focus:ring-4
      outline-brand-blue 
      font-semibold 
      bg-brand-blue 
      text-light-100;
  }
  .btn-warning {
    @apply hover:ring-4 hover:ring-brand-yellow 
      outline-brand-yellow 
      font-semibold 
      bg-brand-yellow 
      text-light-100;
  }
  .btn-error {
    @apply hover:ring-4 hover:ring-brand-red
      outline-brand-red 
      font-semibold 
      bg-brand-red 
      text-light-100;
  }
  .btn-outline {
    @apply border-dark-100 
        hover:ring-4 hover:ring-light-400 
        text-dark-200;
    background: transparent;
  }

  .alert-info {
    @apply flex
      mt-8 mb-4
      px-4 py-3
      body-text items-center justify-center
      bg-info-light 
      rounded-md 
      outline outline-1 outline-info-dark;
  }
  .alert-success {
    @apply flex
      mt-8 mb-4
      px-4 py-3
      body-text items-center justify-center
      bg-success-light 
      rounded-md 
      outline outline-1 outline-success-dark;
  }
  .alert-warning {
    @apply flex
      mt-8 mb-4
      px-4 py-3
      body-text items-center justify-center
      bg-warning-light 
      rounded-md 
      outline outline-1 outline-warning-dark;
  }
  .alert-error {
    @apply flex
      mt-8 mb-4
      px-4 py-3
      body-text items-center justify-center
      bg-error-light 
      rounded-md 
      outline outline-1 outline-error-dark;
  }

  .badge {
    @apply uppercase 
    inline-flex 
    items-center 
    justify-center 
    px-3 py-2 
    label-xs 
    font-semibold 
    leading-none 
    
    bg-info-light
   border border-info
    text-info 
    rounded-full;
  }
  .badge-success {
    @apply uppercase
    inline-flex 
    items-center 
    justify-center 
    px-3 py-2 
    label-xs 
    font-semibold 
    leading-none 
    text-success
    border border-success 
    bg-success-light 
    rounded-full;
  }
  .badge-warning {
    @apply uppercase
    inline-flex 
    items-center 
    justify-center 
    px-3 py-2 
    label-xs 
    font-semibold 
    leading-none 
    text-warning
    border border-warning 
    bg-warning-light 
    rounded-full;
  }
  .badge-error {
    @apply uppercase
    inline-flex 
    items-center 
    justify-center 
    px-3 py-2 
    label-xs 
    font-semibold 
    leading-none 
    text-error
    border border-error 
    bg-error-light 
    rounded-full;
  }

  .widget-simple {
    background-color: theme("colors.light.100");
    display: flex;
    padding: 25px;
  }
  .hero {
    background-image: url("../assets/img/hero.jpg");
  }
  .map {
    background-image: url("../assets/img/map.png");
  }
}
@layer utilities {
}
